extend ../layout

block content
  .container
    .row
      form.form-horizontal(method="post", action="/admin/movie/new")
        input(type="hidden", name="move[_id]", value="#{movie._id}")
        .form-group
          label.col-sm-3.control-label(for="inputTitle") 电影名字
          .col-sm-10
            input#inputTitle.form-control(type="text", name="movie[title]", vale="#{movie.title}")
        .form-group     
          label.col-sm-3.control-label(for="inputDoctor") 导演
          .col-sm-10
            input#inputTitle.form-control(type="text", name="movie[inputDoctor]", vale="#{movie.doctor}")
        .form-group     
          label.col-sm-3.control-label(for="inputLanguage") 国家
          .col-sm-10
            input#inputTitle.form-control(type="text", name="movie[country]", vale="#{movie.country}")
        .form-group     
          label.col-sm-3.control-label(for="inputCountry") 语言
          .col-sm-10
            input#inputTitle.form-control(type="text", name="movie[language]", vale="#{movie.language}")
        .form-group     
          label.col-sm-3.control-label(for="inpuLanguage") 海报地址
          .col-sm-10
            input#inputTitle.form-control(type="text", name="movie[poster]", vale="#{movie.poster}")
        .form-group 
          label.col-sm-3.control-label(for="inputFlash") 片源地址
          .col-sm-10
            input#inputTitle.form-control(type="text", name="movie[flash]", vale="#{movie.flash}")
        .form-group
          label.col-sm-3.control-label(for="inputYear") 上映时间
          .col-sm-10
            input#inputTitle.form-control(type="text", name="movie[year]", vale="#{movie.year}")
        .form-group
          label.col-sm-3.control-label(for="inputSummary") 电影简介
          .col-sm-10
            input#inputTitle.form-control(type="text", name="movie[summary]", vale="#{movie.summary}")
        .form-group
          .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type="submit") 录入

